# =====================
# PlatformIO
# =====================
.pio/
**/.pio/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS / misc
# =====================
.DS_Store
Thumbs.db

# =====================
# Temp / logs
# =====================
*.log
*.tmp
